node_modules
.next
.netlify
.env.local
.env
*.tsbuildinfo
android/.gradle
android/app/build
android/build
android/capacitor-cordova-android-plugins/build
android/local.properties
android/.idea
*.jks
*.keystore
key.properties
